<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">

    <a class="navbar-brand text-success" routerLink="/">
        <img src="assets/brand.png" alt="" height="40">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/users" routerLinkActive="active">Annuaire</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
            </li>
        </ul>

        <ul class="navbar-nav" *ngIf="isAuthenticated; else authBlock">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" (click)="onLogout()">Se déconnecter</a>
            </li>
        </ul>

        <ng-template #authBlock>
            <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Se connecter</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-success" routerLink="/register">S'enregistrer</a>
                </li>
            </ul>
        </ng-template>
    </div>
</nav>