<div class="mb-5">

    <h2 class="text-center">Annuaire</h2>

    <ul class="list-group w-50 m-auto" *ngFor="let user of users">
        <li class="list-group-item mt-3">
            <div class="d-flex justify-content-between align-items-top">
                <span class="text-success font-weight-bold mr-1">{{user.firstname}} {{user.lastname}}</span>

                <button class="btn btn-sm btn-success">Message</button>
            </div>
            <div class="d-flex">
                <span class="font-italic">{{user.position}}</span>
            </div>
            <div class="d-flex">
                <span class="font-italic">{{user.email}}</span>
            </div>
        </li>
    </ul>
</div>