<div class="mb-5">

    <form [formGroup]="searchForm" class="form-inline justify-content-around mb-5" (ngSubmit)="onSubmit()">

        <div class="col-auto">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Prénom</div>
                </div>
                <label class="sr-only" for="inputFirstname">Prénom</label>
                <input type="text" id="inputFirstname" class="form-control" formControlName="firstname">
            </div>
        </div>

        <div class="col-auto">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Nom</div>
                </div>
                <label class="sr-only" for="inputLastname">Nom</label>
                <input type="text" id="inputLastname" class="form-control" formControlName="lastname">
            </div>
        </div>

        <div class="col-auto">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Poste</div>
                </div>
                <label class="sr-only" for="inputPosition">Poste</label>
                <input type="text" id="inputPosition" class="form-control" formControlName="position">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Chercher</button>
    </form>

    <div class="w-50 m-auto">

        <h2 class="text-center">Annuaire</h2>

        <ul class="list-group" *ngFor="let user of users">
            <li class="list-group-item mt-3">
                <div class="d-flex justify-content-between align-items-top">
                    <span class="text-success font-weight-bold mr-1">{{user.firstname}} {{user.lastname}}</span>

                    <button class="btn btn-sm btn-success">Message</button>
                </div>
                <div class="d-flex">
                    <span class="font-italic">{{user.position}}</span>
                </div>
                <div class="d-flex">
                    <span class="font-italic">{{user.email}}</span>
                </div>
            </li>
        </ul>
    </div>


</div>