h1 {
    color: red;
}

ul {
    list-style: none;
}

li {
    width: 300px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: darkgray;
}

li:hover {
    background-color: dimgray;
}

.selected-post {
    color: white;
    background-color: darkslategray;
}

.selected-post:hover {
    background-color: darkslategray;
}