<div class="container">
    <div class="row border-bottom mb-2">
        <span class="text-success font-weight-bold mr-1">
            {{post.owner.firstname}} {{post.owner.lastname}}, {{post.owner.position}}
        </span>
    </div>
    <div class="row mb-2">
        <span>{{post.content}}</span>
    </div>
    <div class="row mb-2">
        <span class="mr-3"><button class="btn btn-primary btn-sm mr-1">+</button> {{post.upvotesCount}}</span>
        <span class=""><button class="btn btn-danger btn-sm mr-1">-</button> {{post.downvotesCount}} </span>
    </div>
</div>