<div class="mb-5">

    <app-header></app-header>

    <div class="mb-5" *ngIf="receiver">
        <h1 class="text-center font-weight-light">Messages avec {{receiver.firstname}} {{receiver.lastname}}</h1>
    </div>

    <div class="w-50 m-auto">

        <!-- Message creation form -->
        <h6>Ecrire un nouveau message :</h6>

        <form [formGroup]="messageCreationForm" class="form" (ngSubmit)="onSubmit()">

            <textarea rows="3" cols="30" class="form-control form-control-sm mb-2" formControlName="content" required
                autofocus></textarea>

            <button class="btn btn-sm btn-primary" type="submit">Envoyer</button>
        </form>

        <!-- Messages list -->
        <ul class="list-group" *ngFor="let message of messages">
            <li class="list-group-item  mt-3">
                {{message.content}}
                <p class="font-weight-light">Le {{message.createdAt | date}} à
                    {{message.createdAt | date:'shortTime'}}
                </p>
            </li>
        </ul>

    </div>

</div>