<table class="table">
    <thead>
        <tr>
            <th scope="col" class="clickable">Country</th>
            <th scope="col" class="clickable">Continent</th>
            <th scope="col" class="clickable">Hemisphère</th>
            <th scope="col" class="clickable">Population</th>
            <th scope="col" class="clickable">Area</th>
            <th scope="col" class="clickable">Density</th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="let country of countries"
            class="clickable"
            [class.table-secondary]="
                selectedCountry && selectedCountry.id === country.id
            "
            (click)="selectCountry(country)"
        >
            <th scope="row">
                <img [src]="country.flag" class="mr-2" style="width: 20px" />
                {{ country.name }}
            </th>
            <td>{{ country.continent }}</td>
            <td>{{ country.hemisphere }}</td>
            <td>{{ country.population | number }}</td>
            <td>{{ country.area | number }}</td>
            <td>{{ country.density | number }}</td>
        </tr>
    </tbody>
</table>

<app-modal-edit-country></app-modal-edit-country>
