/* You can add global styles to this file, and also import other style files */

a .navbar-brand {
    color: rgb(56, 199, 147);
}

.form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
