/* You can add global styles to this file, and also import other style files */

h1 {
    color: rgb(56, 199, 147);
}

.btn-success {
    border: none;
    background-color: rgb(56, 199, 147);
}

.btn-success:hover {
    background-color: rgb(56, 199, 200);
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}