/* You can add global styles to this file, and also import other style files */

a .navbar-brand {
    color: rgb(56, 199, 147);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: grey;
    color: white;
}

.selected {
    background-color: grey;
    color: white;
}
